<div class="content mat-elevation-z8" [class.blur-content]="cargando">

  <div class="toolbar">
    <ion-input style="color: white; font-weight: bold;"
      placeholder="Buscar por número o año"
      class="input-busqueda"
      [(ngModel)]="busqueda"
      (ngModelChange)="buscar()">
    </ion-input>

    <button mat-button class="list-button">
      <mat-icon style="color: #ffffff">download</mat-icon>
    </button>
    <button mat-button class="list-button">
      <mat-icon style="color: #ffffff">more_vert</mat-icon>
    </button>

    <label for="styledSelect1" class="custom-select">
      <select id="styledSelect1" name="options" (change)="cambiarEstado($event)">
        <option value="">Seleccionar estado</option>
        <option value="todos" selected>Todos</option>
        <option value="inicio">Inicio</option>
        <option value="prueba">Prueba</option>
        <option value="fiscal">Fiscal</option>
        <option value="clausula periodo prueba">Clausula periodo prueba</option>
        <option value="sentencia">Sentencia</option>
      </select>
    </label>
  </div>

  <div *ngIf="cargando" class="fullscreen-loader">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>

  <div class="table-container" *ngIf="!cargando">
    <table>
      <thead>
        <tr>
          <th>Nº expediente</th>
          <th>Juzgado</th>
          <th>Carátula</th>
          <th>Fecha sentencia</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of honorariosDiferidos">
          <td>{{ item.numero }}/{{ item.anio }}</td>
          <td>{{ item.juzgadoModel?.nombre || 'Sin juzgado' }}</td>
          <td *ngIf="item.clientes.length === 1">
            {{ item.clientes[0].nombre }} {{ item.clientes[0].apellido }} contra {{ item.demandadoModel.nombre }}
          </td>
          <td *ngIf="item.clientes.length > 1">
            {{ item.clientes[0].nombre }} {{ item.clientes[0].apellido }} y otros contra {{ item.demandadoModel.nombre }}
          </td>
          <td *ngIf="item.clientes.length === 0">
            (sin actora) contra {{ item.demandadoModel.nombre }}
          </td>
          <td>{{ item.fecha_sentencia | date:'yyyy-MM-dd' }}</td>
          <td>{{ item.estado }}</td>
        </tr>
        <tr *ngIf="!hayHonorarios">
          <td colspan="5" style="text-align: center;">No se encontraron honorarios.</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
